body {
/*css for full size background image*/

  background-image: url(assets/img/bg-music-darkened.jpg);
  /*background-color: #fff;*/
  /*text-align: center;*/
  /*text-shadow: 0 1px 3px rgba(0,0,0,.7);*/

}

#memberElement {
  cursor: pointer;
}

.well {
  opacity: .9 !important;

}





.navbar-default{
  background:transparent !important;
  background-image:none !important;
  border: none !important;
}
